.idea/
.vscode/
pokemon-showdown/
node_modules/
execution.log
*.json
!formats.json
!tiers.json
!tags.json
!json/translations/*.json
!json/translations/descriptions/*.json
!package*.json
.env
Smogon-Stats-Viewer
