.idea/
.vscode/
pokemon-showdown/
pokemon-showdown-client/
node_modules/
execution.log
*.json
!usages/months/**/formats/**/*.json
!usages/months*.json
!formats.json
!tiers.json
!tags.json
!guide_tags.json
!actuality_tags.json
!tournament_tags.json
!video_tags.json
!json/translations/*.json
!json/translations/descriptions/*.json
!package*.json
.env
Smogon-Stats-Viewer
logs/*
!logs/.gitkeep