name: "Sync submodule"


on:
        workflow_dispatch:

        push:
            branches:
              - main

jobs:
        sync:
                runs-on: 'ubuntu-latest'
                steps:
                        - name: checkout on main
                          uses: actions/checkout@main
                          with:
                             ref: ${{ github.read_ref }}

                        - name: update submodule content
                          uses: textbook/git-checkout-submodule-action@master
                          with:
                              remote: true

                        - name: Commit if differences
                          uses: stefanzweifel/git-auto-commit-action@v4
                          with:
                              commit_message: Synchronization with submodule
                              commit_user_name: GitHub Actions Bot
                              commit_author: GitHub Action <actions@github.com>
                              skip_dirty_check: false
                              push_options:  --force

                        - name: send to heroku git
                          uses: akhileshns/heroku-deploy@v3.7.8 # This is the action
                          with:
                            heroku_api_key: ${{secrets.HEROKU_API_KEY}}
                            heroku_app_name: "api-data-pokemon-showdown" #Must be unique in Heroku
                            heroku_email: "bilaal.yadallee@gmail.com"